body {
    background-color: antiquewhite;
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

h1 {
    color: darkred;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    color: darkred;
    text-align: center;
    font-size: 20px;
}

h3 {
    text-align: center;
    font-size: 18px;
}

ul {
    font-size: 16px;
    line-height: 2;
}

ol {
    font-size: 16px;
    line-height: 2;
}

.disclaimer {
    font-size: 12px;
}

