body {
    width: 500px;
    line-height: 1.5;
    background-color: whitesmoke;
}

h1 {
    color: darkorange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    width: 500px;
    height: auto;
}

ul {
    list-style: circle;
    color: black;
    width: 460px;
}
/* from where does the 40px difference coming from? padding? margin? */

div {
    width: 500px;
}

img {
    width: 300px;
    height: auto;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}